@import '../mixins/mixins.scss';
@import '../mixins/utils.scss';

@include block(alert) {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;

  @include nest(align) {
    @include impl(center) {
      text-align: center;
    }
  }

  @include nest(left) {
    float: left;
    margin-left: 15px;

    label {
      display: inline-block;
      width: 100%;
      font-weight: bold;
    }

    span {
      font-weight: normal;
      font-size: 13px;
    }
  }

  @include nest(right) {
    float: right;
    margin-right: 15px;
    color: #aaaaaa;

    &:hover {
      color: #999999;
    }
  }

  @include nest(type) {
    @include impl(success) {
      color: #67c23a;
      background-color: #f0f9eb;
    }

    @include impl(info) {
      color: #909399;
      background-color: #f4f4f5;
    }

    @include impl(warning) {
      color: #e6a23c;
      background-color: #fdf6ec;
    }

    @include impl(error) {
      color: #f56c6c;
      background-color: #fef0f0;
    }
  }
}