.vs-avatar {
  position: relative;
  display: block;
  height: 40px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

.vs-avatar-size-small {
  
}

.vs-avatar-size-normal {

}

.vs-avatar-large {

}

.vs-avatar-square {

}

.vs-avatar-circle {
   
}