@import '../theme/var.scss';
@import '../mixins/mixins.scss';

@include block(breadcrumb) {
  font-size: 14px;
  padding: 5px 0 5px 0;
  color: $--color-info;

  a {
    transition: color .3s;
    color: $--color-info;

    &:hover {
      font-weight: 500;
      color: $--color-primary;
    }
  }

  & > span:last-child {
    font-weight: 500;
  }

  & > span:last-child &-separator {
    display: none;
  }

  @include nest(separator) {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.3);
  }

  @include nest(link) {
    > .vs-icon + span{
        margin-left: 4px;
    }
  }
}