@font-face {
  font-family: 'Ionicons';
  src:url("./fonts/ionicons.eot?v=2.0.0");
  src:url("./fonts//ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
   url("./fonts//ionicons.ttf?v=2.0.0") format("truetype"),
   url("./fonts//ionicons.woff?v=2.0.0") format("woff"),
   url("./fonts//ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* vs-icon begin class*/
[class ^= "vs-icon"], [class *= "vs-icon-"] {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ionicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  /* smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* from ionicons */
.vs-icon-share::before { content: "\f220" };
.vs-icon-alert:before { content: "\f101" };
.vs-icon-alert-circled:before { content: "\f100" };
.vs-icon-android-add:before { content: "\f2c7" };
.vs-icon-android-add-circle:before { content: "\f359" };
.vs-icon-android-alarm-clock:before { content: "\f35a" };
.vs-icon-android-alert:before { content: "\f35b" };
.vs-icon-android-apps:before { content: "\f35c" };
.vs-icon-android-archive:before { content: "\f2c9" };
.vs-icon-android-arrow-back:before { content: "\f2ca" };
.vs-icon-android-arrow-down:before { content: "\f35d" };
.vs-icon-android-arrow-dropdown:before { content: "\f35f" };
.vs-icon-android-arrow-dropdown-circle:before { content: "\f35e" };
.vs-icon-android-arrow-dropleft:before { content: "\f361" };
.vs-icon-android-arrow-dropleft-circle:before { content: "\f360" };
.vs-icon-android-arrow-dropright:before { content: "\f363" };
.vs-icon-android-arrow-dropright-circle:before { content: "\f362" };
.vs-icon-android-arrow-dropup:before { content: "\f365" };
.vs-icon-android-arrow-dropup-circle:before { content: "\f364" };
.vs-icon-android-arrow-forward:before { content: "\f30f" };
.vs-icon-android-arrow-up:before { content: "\f366" };
.vs-icon-android-attach:before { content: "\f367" };
.vs-icon-android-bar:before { content: "\f368" };
.vs-icon-android-bicycle:before { content: "\f369" };
.vs-icon-android-boat:before { content: "\f36a" };
.vs-icon-android-bookmark:before { content: "\f36b" };
.vs-icon-android-bulb:before { content: "\f36c" };
.vs-icon-android-bus:before { content: "\f36d" };
.vs-icon-android-calendar:before { content: "\f2d1" };
.vs-icon-android-call:before { content: "\f2d2" };
.vs-icon-android-camera:before { content: "\f2d3" };
.vs-icon-android-cancel:before { content: "\f36e" };
.vs-icon-android-car:before { content: "\f36f" };
.vs-icon-android-cart:before { content: "\f370" };
.vs-icon-android-chat:before { content: "\f2d4" };
.vs-icon-android-checkbox:before { content: "\f374" };
.vs-icon-android-checkbox-blank:before { content: "\f371" };
.vs-icon-android-checkbox-outline:before { content: "\f373" };
.vs-icon-android-checkbox-outline-blank:before { content: "\f372" };
.vs-icon-android-checkmark-circle:before { content: "\f375" };
.vs-icon-android-clipboard:before { content: "\f376" };
.vs-icon-android-close:before { content: "\f2d7" };
.vs-icon-android-cloud:before { content: "\f37a" };
.vs-icon-android-cloud-circle:before { content: "\f377" };
.vs-icon-android-cloud-done:before { content: "\f378" };
.vs-icon-android-cloud-outline:before { content: "\f379" };
.vs-icon-android-color-palette:before { content: "\f37b" };
.vs-icon-android-compass:before { content: "\f37c" };
.vs-icon-android-contact:before { content: "\f2d8" };
.vs-icon-android-contacts:before { content: "\f2d9" };
.vs-icon-android-contract:before { content: "\f37d" };
.vs-icon-android-create:before { content: "\f37e" };
.vs-icon-android-delete:before { content: "\f37f" };
.vs-icon-android-desktop:before { content: "\f380" };
.vs-icon-android-document:before { content: "\f381" };
.vs-icon-android-done:before { content: "\f383" };
.vs-icon-android-done-all:before { content: "\f382" };
.vs-icon-android-download:before { content: "\f2dd" };
.vs-icon-android-drafts:before { content: "\f384" };
.vs-icon-android-exit:before { content: "\f385" };
.vs-icon-android-expand:before { content: "\f386" };
.vs-icon-android-favorite:before { content: "\f388" };
.vs-icon-android-favorite-outline:before { content: "\f387" };
.vs-icon-android-film:before { content: "\f389" };
.vs-icon-android-folder:before { content: "\f2e0" };
.vs-icon-android-folder-open:before { content: "\f38a" };
.vs-icon-android-funnel:before { content: "\f38b" };
.vs-icon-android-globe:before { content: "\f38c" };
.vs-icon-android-hand:before { content: "\f2e3" };
.vs-icon-android-hangout:before { content: "\f38d" };
.vs-icon-android-happy:before { content: "\f38e" };
.vs-icon-android-home:before { content: "\f38f" };
.vs-icon-android-image:before { content: "\f2e4" };
.vs-icon-android-laptop:before { content: "\f390" };
.vs-icon-android-list:before { content: "\f391" };
.vs-icon-android-locate:before { content: "\f2e9" };
.vs-icon-android-lock:before { content: "\f392" };
.vs-icon-android-mail:before { content: "\f2eb" };
.vs-icon-android-map:before { content: "\f393" };
.vs-icon-android-menu:before { content: "\f394" };
.vs-icon-android-microphone:before { content: "\f2ec" };
.vs-icon-android-microphone-off:before { content: "\f395" };
.vs-icon-android-more-horizontal:before { content: "\f396" };
.vs-icon-android-more-vertical:before { content: "\f397" };
.vs-icon-android-navigate:before { content: "\f398" };
.vs-icon-android-notifications:before { content: "\f39b" };
.vs-icon-android-notifications-none:before { content: "\f399" };
.vs-icon-android-notifications-off:before { content: "\f39a" };
.vs-icon-android-open:before { content: "\f39c" };
.vs-icon-android-options:before { content: "\f39d" };
.vs-icon-android-people:before { content: "\f39e" };
.vs-icon-android-person:before { content: "\f3a0" };
.vs-icon-android-person-add:before { content: "\f39f" };
.vs-icon-android-phone-landscape:before { content: "\f3a1" };
.vs-icon-android-phone-portrait:before { content: "\f3a2" };
.vs-icon-android-pin:before { content: "\f3a3" };
.vs-icon-android-plane:before { content: "\f3a4" };
.vs-icon-android-playstore:before { content: "\f2f0" };
.vs-icon-android-print:before { content: "\f3a5" };
.vs-icon-android-radio-button-off:before { content: "\f3a6" };
.vs-icon-android-radio-button-on:before { content: "\f3a7" };
.vs-icon-android-refresh:before { content: "\f3a8" };
.vs-icon-android-remove:before { content: "\f2f4" };
.vs-icon-android-remove-circle:before { content: "\f3a9" };
.vs-icon-android-restaurant:before { content: "\f3aa" };
.vs-icon-android-sad:before { content: "\f3ab" };
.vs-icon-android-search:before { content: "\f2f5" };
.vs-icon-android-send:before { content: "\f2f6" };
.vs-icon-android-settings:before { content: "\f2f7" };
.vs-icon-android-share:before { content: "\f2f8" };
.vs-icon-android-share-alt:before { content: "\f3ac" };
.vs-icon-android-star:before { content: "\f2fc" };
.vs-icon-android-star-half:before { content: "\f3ad" };
.vs-icon-android-star-outline:before { content: "\f3ae" };
.vs-icon-android-stopwatch:before { content: "\f2fd" };
.vs-icon-android-subway:before { content: "\f3af" };
.vs-icon-android-sunny:before { content: "\f3b0" };
.vs-icon-android-sync:before { content: "\f3b1" };
.vs-icon-android-textsms:before { content: "\f3b2" };
.vs-icon-android-time:before { content: "\f3b3" };
.vs-icon-android-train:before { content: "\f3b4" };
.vs-icon-android-unlock:before { content: "\f3b5" };
.vs-icon-android-upload:before { content: "\f3b6" };
.vs-icon-android-volume-down:before { content: "\f3b7" };
.vs-icon-android-volume-mute:before { content: "\f3b8" };
.vs-icon-android-volume-off:before { content: "\f3b9" };
.vs-icon-android-volume-up:before { content: "\f3ba" };
.vs-icon-android-walk:before { content: "\f3bb" };
.vs-icon-android-warning:before { content: "\f3bc" };
.vs-icon-android-watch:before { content: "\f3bd" };
.vs-icon-android-wifi:before { content: "\f305" };
.vs-icon-aperture:before { content: "\f313" };
.vs-icon-archive:before { content: "\f102" };
.vs-icon-arrow-down-a:before { content: "\f103" };
.vs-icon-arrow-down-b:before { content: "\f104" };
.vs-icon-arrow-down-c:before { content: "\f105" };
.vs-icon-arrow-expand:before { content: "\f25e" };
.vs-icon-arrow-graph-down-left:before { content: "\f25f" };
.vs-icon-arrow-graph-down-right:before { content: "\f260" };
.vs-icon-arrow-graph-up-left:before { content: "\f261" };
.vs-icon-arrow-graph-up-right:before { content: "\f262" };
.vs-icon-arrow-left-a:before { content: "\f106" };
.vs-icon-arrow-left-b:before { content: "\f107" };
.vs-icon-arrow-left-c:before { content: "\f108" };
.vs-icon-arrow-move:before { content: "\f263" };
.vs-icon-arrow-resize:before { content: "\f264" };
.vs-icon-arrow-return-left:before { content: "\f265" };
.vs-icon-arrow-return-right:before { content: "\f266" };
.vs-icon-arrow-right-a:before { content: "\f109" };
.vs-icon-arrow-right-b:before { content: "\f10a" };
.vs-icon-arrow-right-c:before { content: "\f10b" };
.vs-icon-arrow-shrink:before { content: "\f267" };
.vs-icon-arrow-swap:before { content: "\f268" };
.vs-icon-arrow-up-a:before { content: "\f10c" };
.vs-icon-arrow-up-b:before { content: "\f10d" };
.vs-icon-arrow-up-c:before { content: "\f10e" };
.vs-icon-asterisk:before { content: "\f314" };
.vs-icon-at:before { content: "\f10f" };
.vs-icon-backspace:before { content: "\f3bf" };
.vs-icon-backspace-outline:before { content: "\f3be" };
.vs-icon-bag:before { content: "\f110" };
.vs-icon-battery-charging:before { content: "\f111" };
.vs-icon-battery-empty:before { content: "\f112" };
.vs-icon-battery-full:before { content: "\f113" };
.vs-icon-battery-half:before { content: "\f114" };
.vs-icon-battery-low:before { content: "\f115" };
.vs-icon-beaker:before { content: "\f269" };
.vs-icon-beer:before { content: "\f26a" };
.vs-icon-bluetooth:before { content: "\f116" };
.vs-icon-bonfire:before { content: "\f315" };
.vs-icon-bookmark:before { content: "\f26b" };
.vs-icon-bowtie:before { content: "\f3c0" };
.vs-icon-briefcase:before { content: "\f26c" };
.vs-icon-bug:before { content: "\f2be" };
.vs-icon-calculator:before { content: "\f26d" };
.vs-icon-calendar:before { content: "\f117" };
.vs-icon-camera:before { content: "\f118" };
.vs-icon-card:before { content: "\f119" };
.vs-icon-cash:before { content: "\f316" };
.vs-icon-chatbox:before { content: "\f11b" };
.vs-icon-chatbox-working:before { content: "\f11a" };
.vs-icon-chatboxes:before { content: "\f11c" };
.vs-icon-chatbubble:before { content: "\f11e" };
.vs-icon-chatbubble-working:before { content: "\f11d" };
.vs-icon-chatbubbles:before { content: "\f11f" };
.vs-icon-checkmark:before { content: "\f122" };
.vs-icon-checkmark-circled:before { content: "\f120" };
.vs-icon-checkmark-round:before { content: "\f121" };
.vs-icon-chevron-down:before { content: "\f123" };
.vs-icon-chevron-left:before { content: "\f124" };
.vs-icon-chevron-right:before { content: "\f125" };
.vs-icon-chevron-up:before { content: "\f126" };
.vs-icon-clipboard:before { content: "\f127" };
.vs-icon-clock:before { content: "\f26e" };
.vs-icon-close:before { content: "\f12a" };
.vs-icon-close-circled:before { content: "\f128" };
.vs-icon-close-round:before { content: "\f129" };
.vs-icon-closed-captioning:before { content: "\f317" };
.vs-icon-cloud:before { content: "\f12b" };
.vs-icon-code:before { content: "\f271" };
.vs-icon-code-download:before { content: "\f26f" };
.vs-icon-code-working:before { content: "\f270" };
.vs-icon-coffee:before { content: "\f272" };
.vs-icon-compass:before { content: "\f273" };
.vs-icon-compose:before { content: "\f12c" };
.vs-icon-connection-bars:before { content: "\f274" };
.vs-icon-contrast:before { content: "\f275" };
.vs-icon-crop:before { content: "\f3c1" };
.vs-icon-cube:before { content: "\f318" };
.vs-icon-disc:before { content: "\f12d" };
.vs-icon-document:before { content: "\f12f" };
.vs-icon-document-text:before { content: "\f12e" };
.vs-icon-drag:before { content: "\f130" };
.vs-icon-earth:before { content: "\f276" };
.vs-icon-easel:before { content: "\f3c2" };
.vs-icon-edit:before { content: "\f2bf" };
.vs-icon-egg:before { content: "\f277" };
.vs-icon-eject:before { content: "\f131" };
.vs-icon-email:before { content: "\f132" };
.vs-icon-email-unread:before { content: "\f3c3" };
.vs-icon-erlenmeyer-flask:before { content: "\f3c5" };
.vs-icon-erlenmeyer-flask-bubbles:before { content: "\f3c4" };
.vs-icon-eye:before { content: "\f133" };
.vs-icon-eye-disabled:before { content: "\f306" };
.vs-icon-female:before { content: "\f278" };
.vs-icon-filing:before { content: "\f134" };
.vs-icon-film-marker:before { content: "\f135" };
.vs-icon-fireball:before { content: "\f319" };
.vs-icon-flag:before { content: "\f279" };
.vs-icon-flame:before { content: "\f31a" };
.vs-icon-flash:before { content: "\f137" };
.vs-icon-flash-off:before { content: "\f136" };
.vs-icon-folder:before { content: "\f139" };
.vs-icon-fork:before { content: "\f27a" };
.vs-icon-fork-repo:before { content: "\f2c0" };
.vs-icon-forward:before { content: "\f13a" };
.vs-icon-funnel:before { content: "\f31b" };
.vs-icon-gear-a:before { content: "\f13d" };
.vs-icon-gear-b:before { content: "\f13e" };
.vs-icon-grid:before { content: "\f13f" };
.vs-icon-hammer:before { content: "\f27b" };
.vs-icon-happy:before { content: "\f31c" };
.vs-icon-happy-outline:before { content: "\f3c6" };
.vs-icon-headphone:before { content: "\f140" };
.vs-icon-heart:before { content: "\f141" };
.vs-icon-heart-broken:before { content: "\f31d" };
.vs-icon-help:before { content: "\f143" };
.vs-icon-help-buoy:before { content: "\f27c" };
.vs-icon-help-circled:before { content: "\f142" };
.vs-icon-home:before { content: "\f144" };
.vs-icon-icecream:before { content: "\f27d" };
.vs-icon-image:before { content: "\f147" };
.vs-icon-images:before { content: "\f148" };
.vs-icon-information:before { content: "\f14a" };
.vs-icon-information-circled:before { content: "\f149" };
.vs-icon-ionic:before { content: "\f14b" };
.vs-icon-ios-alarm:before { content: "\f3c8" };
.vs-icon-ios-alarm-outline:before { content: "\f3c7" };
.vs-icon-ios-albums:before { content: "\f3ca" };
.vs-icon-ios-albums-outline:before { content: "\f3c9" };
.vs-icon-ios-americanfootball:before { content: "\f3cc" };
.vs-icon-ios-americanfootball-outline:before { content: "\f3cb" };
.vs-icon-ios-analytics:before { content: "\f3ce" };
.vs-icon-ios-analytics-outline:before { content: "\f3cd" };
.vs-icon-ios-arrow-back:before { content: "\f3cf" };
.vs-icon-ios-arrow-down:before { content: "\f3d0" };
.vs-icon-ios-arrow-forward:before { content: "\f3d1" };
.vs-icon-ios-arrow-left:before { content: "\f3d2" };
.vs-icon-ios-arrow-right:before { content: "\f3d3" };
.vs-icon-ios-arrow-thin-down:before { content: "\f3d4" };
.vs-icon-ios-arrow-thin-left:before { content: "\f3d5" };
.vs-icon-ios-arrow-thin-right:before { content: "\f3d6" };
.vs-icon-ios-arrow-thin-up:before { content: "\f3d7" };
.vs-icon-ios-arrow-up:before { content: "\f3d8" };
.vs-icon-ios-at:before { content: "\f3da" };
.vs-icon-ios-at-outline:before { content: "\f3d9" };
.vs-icon-ios-barcode:before { content: "\f3dc" };
.vs-icon-ios-barcode-outline:before { content: "\f3db" };
.vs-icon-ios-baseball:before { content: "\f3de" };
.vs-icon-ios-baseball-outline:before { content: "\f3dd" };
.vs-icon-ios-basketball:before { content: "\f3e0" };
.vs-icon-ios-basketball-outline:before { content: "\f3df" };
.vs-icon-ios-bell:before { content: "\f3e2" };
.vs-icon-ios-bell-outline:before { content: "\f3e1" };
.vs-icon-ios-body:before { content: "\f3e4" };
.vs-icon-ios-body-outline:before { content: "\f3e3" };
.vs-icon-ios-bolt:before { content: "\f3e6" };
.vs-icon-ios-bolt-outline:before { content: "\f3e5" };
.vs-icon-ios-book:before { content: "\f3e8" };
.vs-icon-ios-book-outline:before { content: "\f3e7" };
.vs-icon-ios-bookmarks:before { content: "\f3ea" };
.vs-icon-ios-bookmarks-outline:before { content: "\f3e9" };
.vs-icon-ios-box:before { content: "\f3ec" };
.vs-icon-ios-box-outline:before { content: "\f3eb" };
.vs-icon-ios-briefcase:before { content: "\f3ee" };
.vs-icon-ios-briefcase-outline:before { content: "\f3ed" };
.vs-icon-ios-browsers:before { content: "\f3f0" };
.vs-icon-ios-browsers-outline:before { content: "\f3ef" };
.vs-icon-ios-calculator:before { content: "\f3f2" };
.vs-icon-ios-calculator-outline:before { content: "\f3f1" };
.vs-icon-ios-calendar:before { content: "\f3f4" };
.vs-icon-ios-calendar-outline:before { content: "\f3f3" };
.vs-icon-ios-camera:before { content: "\f3f6" };
.vs-icon-ios-camera-outline:before { content: "\f3f5" };
.vs-icon-ios-cart:before { content: "\f3f8" };
.vs-icon-ios-cart-outline:before { content: "\f3f7" };
.vs-icon-ios-chatboxes:before { content: "\f3fa" };
.vs-icon-ios-chatboxes-outline:before { content: "\f3f9" };
.vs-icon-ios-chatbubble:before { content: "\f3fc" };
.vs-icon-ios-chatbubble-outline:before { content: "\f3fb" };
.vs-icon-ios-checkmark:before { content: "\f3ff" };
.vs-icon-ios-checkmark-empty:before { content: "\f3fd" };
.vs-icon-ios-checkmark-outline:before { content: "\f3fe" };
.vs-icon-ios-circle-filled:before { content: "\f400" };
.vs-icon-ios-circle-outline:before { content: "\f401" };
.vs-icon-ios-clock:before { content: "\f403" };
.vs-icon-ios-clock-outline:before { content: "\f402" };
.vs-icon-ios-close:before { content: "\f406" };
.vs-icon-ios-close-empty:before { content: "\f404" };
.vs-icon-ios-close-outline:before { content: "\f405" };
.vs-icon-ios-cloud:before { content: "\f40c" };
.vs-icon-ios-cloud-download:before { content: "\f408" };
.vs-icon-ios-cloud-download-outline:before { content: "\f407" };
.vs-icon-ios-cloud-outline:before { content: "\f409" };
.vs-icon-ios-cloud-upload:before { content: "\f40b" };
.vs-icon-ios-cloud-upload-outline:before { content: "\f40a" };
.vs-icon-ios-cloudy:before { content: "\f410" };
.vs-icon-ios-cloudy-night:before { content: "\f40e" };
.vs-icon-ios-cloudy-night-outline:before { content: "\f40d" };
.vs-icon-ios-cloudy-outline:before { content: "\f40f" };
.vs-icon-ios-cog:before { content: "\f412" };
.vs-icon-ios-cog-outline:before { content: "\f411" };
.vs-icon-ios-color-filter:before { content: "\f414" };
.vs-icon-ios-color-filter-outline:before { content: "\f413" };
.vs-icon-ios-color-wand:before { content: "\f416" };
.vs-icon-ios-color-wand-outline:before { content: "\f415" };
.vs-icon-ios-compose:before { content: "\f418" };
.vs-icon-ios-compose-outline:before { content: "\f417" };
.vs-icon-ios-contact:before { content: "\f41a" };
.vs-icon-ios-contact-outline:before { content: "\f419" };
.vs-icon-ios-copy:before { content: "\f41c" };
.vs-icon-ios-copy-outline:before { content: "\f41b" };
.vs-icon-ios-crop:before { content: "\f41e" };
.vs-icon-ios-crop-strong:before { content: "\f41d" };
.vs-icon-ios-download:before { content: "\f420" };
.vs-icon-ios-download-outline:before { content: "\f41f" };
.vs-icon-ios-drag:before { content: "\f421" };
.vs-icon-ios-email:before { content: "\f423" };
.vs-icon-ios-email-outline:before { content: "\f422" };
.vs-icon-ios-eye:before { content: "\f425" };
.vs-icon-ios-eye-outline:before { content: "\f424" };
.vs-icon-ios-fastforward:before { content: "\f427" };
.vs-icon-ios-fastforward-outline:before { content: "\f426" };
.vs-icon-ios-filing:before { content: "\f429" };
.vs-icon-ios-filing-outline:before { content: "\f428" };
.vs-icon-ios-film:before { content: "\f42b" };
.vs-icon-ios-film-outline:before { content: "\f42a" };
.vs-icon-ios-flag:before { content: "\f42d" };
.vs-icon-ios-flag-outline:before { content: "\f42c" };
.vs-icon-ios-flame:before { content: "\f42f" };
.vs-icon-ios-flame-outline:before { content: "\f42e" };
.vs-icon-ios-flask:before { content: "\f431" };
.vs-icon-ios-flask-outline:before { content: "\f430" };
.vs-icon-ios-flower:before { content: "\f433" };
.vs-icon-ios-flower-outline:before { content: "\f432" };
.vs-icon-ios-folder:before { content: "\f435" };
.vs-icon-ios-folder-outline:before { content: "\f434" };
.vs-icon-ios-football:before { content: "\f437" };
.vs-icon-ios-football-outline:before { content: "\f436" };
.vs-icon-ios-game-controller-a:before { content: "\f439" };
.vs-icon-ios-game-controller-a-outline:before { content: "\f438" };
.vs-icon-ios-game-controller-b:before { content: "\f43b" };
.vs-icon-ios-game-controller-b-outline:before { content: "\f43a" };
.vs-icon-ios-gear:before { content: "\f43d" };
.vs-icon-ios-gear-outline:before { content: "\f43c" };
.vs-icon-ios-glasses:before { content: "\f43f" };
.vs-icon-ios-glasses-outline:before { content: "\f43e" };
.vs-icon-ios-grid-view:before { content: "\f441" };
.vs-icon-ios-grid-view-outline:before { content: "\f440" };
.vs-icon-ios-heart:before { content: "\f443" };
.vs-icon-ios-heart-outline:before { content: "\f442" };
.vs-icon-ios-help:before { content: "\f446" };
.vs-icon-ios-help-empty:before { content: "\f444" };
.vs-icon-ios-help-outline:before { content: "\f445" };
.vs-icon-ios-home:before { content: "\f448" };
.vs-icon-ios-home-outline:before { content: "\f447" };
.vs-icon-ios-infinite:before { content: "\f44a" };
.vs-icon-ios-infinite-outline:before { content: "\f449" };
.vs-icon-ios-information:before { content: "\f44d" };
.vs-icon-ios-information-empty:before { content: "\f44b" };
.vs-icon-ios-information-outline:before { content: "\f44c" };
.vs-icon-ios-ionic-outline:before { content: "\f44e" };
.vs-icon-ios-keypad:before { content: "\f450" };
.vs-icon-ios-keypad-outline:before { content: "\f44f" };
.vs-icon-ios-lightbulb:before { content: "\f452" };
.vs-icon-ios-lightbulb-outline:before { content: "\f451" };
.vs-icon-ios-list:before { content: "\f454" };
.vs-icon-ios-list-outline:before { content: "\f453" };
.vs-icon-ios-location:before { content: "\f456" };
.vs-icon-ios-location-outline:before { content: "\f455" };
.vs-icon-ios-locked:before { content: "\f458" };
.vs-icon-ios-locked-outline:before { content: "\f457" };
.vs-icon-ios-loop:before { content: "\f45a" };
.vs-icon-ios-loop-strong:before { content: "\f459" };
.vs-icon-ios-medical:before { content: "\f45c" };
.vs-icon-ios-medical-outline:before { content: "\f45b" };
.vs-icon-ios-medkit:before { content: "\f45e" };
.vs-icon-ios-medkit-outline:before { content: "\f45d" };
.vs-icon-ios-mic:before { content: "\f461" };
.vs-icon-ios-mic-off:before { content: "\f45f" };
.vs-icon-ios-mic-outline:before { content: "\f460" };
.vs-icon-ios-minus:before { content: "\f464" };
.vs-icon-ios-minus-empty:before { content: "\f462" };
.vs-icon-ios-minus-outline:before { content: "\f463" };
.vs-icon-ios-monitor:before { content: "\f466" };
.vs-icon-ios-monitor-outline:before { content: "\f465" };
.vs-icon-ios-moon:before { content: "\f468" };
.vs-icon-ios-moon-outline:before { content: "\f467" };
.vs-icon-ios-more:before { content: "\f46a" };
.vs-icon-ios-more-outline:before { content: "\f469" };
.vs-icon-ios-musical-note:before { content: "\f46b" };
.vs-icon-ios-musical-notes:before { content: "\f46c" };
.vs-icon-ios-navigate:before { content: "\f46e" };
.vs-icon-ios-navigate-outline:before { content: "\f46d" };
.vs-icon-ios-nutrition:before { content: "\f470" };
.vs-icon-ios-nutrition-outline:before { content: "\f46f" };
.vs-icon-ios-paper:before { content: "\f472" };
.vs-icon-ios-paper-outline:before { content: "\f471" };
.vs-icon-ios-paperplane:before { content: "\f474" };
.vs-icon-ios-paperplane-outline:before { content: "\f473" };
.vs-icon-ios-partlysunny:before { content: "\f476" };
.vs-icon-ios-partlysunny-outline:before { content: "\f475" };
.vs-icon-ios-pause:before { content: "\f478" };
.vs-icon-ios-pause-outline:before { content: "\f477" };
.vs-icon-ios-paw:before { content: "\f47a" };
.vs-icon-ios-paw-outline:before { content: "\f479" };
.vs-icon-ios-people:before { content: "\f47c" };
.vs-icon-ios-people-outline:before { content: "\f47b" };
.vs-icon-ios-person:before { content: "\f47e" };
.vs-icon-ios-person-outline:before { content: "\f47d" };
.vs-icon-ios-personadd:before { content: "\f480" };
.vs-icon-ios-personadd-outline:before { content: "\f47f" };
.vs-icon-ios-photos:before { content: "\f482" };
.vs-icon-ios-photos-outline:before { content: "\f481" };
.vs-icon-ios-pie:before { content: "\f484" };
.vs-icon-ios-pie-outline:before { content: "\f483" };
.vs-icon-ios-pint:before { content: "\f486" };
.vs-icon-ios-pint-outline:before { content: "\f485" };
.vs-icon-ios-play:before { content: "\f488" };
.vs-icon-ios-play-outline:before { content: "\f487" };
.vs-icon-ios-plus:before { content: "\f48b" };
.vs-icon-ios-plus-empty:before { content: "\f489" };
.vs-icon-ios-plus-outline:before { content: "\f48a" };
.vs-icon-ios-pricetag:before { content: "\f48d" };
.vs-icon-ios-pricetag-outline:before { content: "\f48c" };
.vs-icon-ios-pricetags:before { content: "\f48f" };
.vs-icon-ios-pricetags-outline:before { content: "\f48e" };
.vs-icon-ios-printer:before { content: "\f491" };
.vs-icon-ios-printer-outline:before { content: "\f490" };
.vs-icon-ios-pulse:before { content: "\f493" };
.vs-icon-ios-pulse-strong:before { content: "\f492" };
.vs-icon-ios-rainy:before { content: "\f495" };
.vs-icon-ios-rainy-outline:before { content: "\f494" };
.vs-icon-ios-recording:before { content: "\f497" };
.vs-icon-ios-recording-outline:before { content: "\f496" };
.vs-icon-ios-redo:before { content: "\f499" };
.vs-icon-ios-redo-outline:before { content: "\f498" };
.vs-icon-ios-refresh:before { content: "\f49c" };
.vs-icon-ios-refresh-empty:before { content: "\f49a" };
.vs-icon-ios-refresh-outline:before { content: "\f49b" };
.vs-icon-ios-reload:before { content: "\f49d" };
.vs-icon-ios-reverse-camera:before { content: "\f49f" };
.vs-icon-ios-reverse-camera-outline:before { content: "\f49e" };
.vs-icon-ios-rewind:before { content: "\f4a1" };
.vs-icon-ios-rewind-outline:before { content: "\f4a0" };
.vs-icon-ios-rose:before { content: "\f4a3" };
.vs-icon-ios-rose-outline:before { content: "\f4a2" };
.vs-icon-ios-search:before { content: "\f4a5" };
.vs-icon-ios-search-strong:before { content: "\f4a4" };
.vs-icon-ios-settings:before { content: "\f4a7" };
.vs-icon-ios-settings-strong:before { content: "\f4a6" };
.vs-icon-ios-shuffle:before { content: "\f4a9" };
.vs-icon-ios-shuffle-strong:before { content: "\f4a8" };
.vs-icon-ios-skipbackward:before { content: "\f4ab" };
.vs-icon-ios-skipbackward-outline:before { content: "\f4aa" };
.vs-icon-ios-skipforward:before { content: "\f4ad" };
.vs-icon-ios-skipforward-outline:before { content: "\f4ac" };
.vs-icon-ios-snowy:before { content: "\f4ae" };
.vs-icon-ios-speedometer:before { content: "\f4b0" };
.vs-icon-ios-speedometer-outline:before { content: "\f4af" };
.vs-icon-ios-star:before { content: "\f4b3" };
.vs-icon-ios-star-half:before { content: "\f4b1" };
.vs-icon-ios-star-outline:before { content: "\f4b2" };
.vs-icon-ios-stopwatch:before { content: "\f4b5" };
.vs-icon-ios-stopwatch-outline:before { content: "\f4b4" };
.vs-icon-ios-sunny:before { content: "\f4b7" };
.vs-icon-ios-sunny-outline:before { content: "\f4b6" };
.vs-icon-ios-telephone:before { content: "\f4b9" };
.vs-icon-ios-telephone-outline:before { content: "\f4b8" };
.vs-icon-ios-tennisball:before { content: "\f4bb" };
.vs-icon-ios-tennisball-outline:before { content: "\f4ba" };
.vs-icon-ios-thunderstorm:before { content: "\f4bd" };
.vs-icon-ios-thunderstorm-outline:before { content: "\f4bc" };
.vs-icon-ios-time:before { content: "\f4bf" };
.vs-icon-ios-time-outline:before { content: "\f4be" };
.vs-icon-ios-timer:before { content: "\f4c1" };
.vs-icon-ios-timer-outline:before { content: "\f4c0" };
.vs-icon-ios-toggle:before { content: "\f4c3" };
.vs-icon-ios-toggle-outline:before { content: "\f4c2" };
.vs-icon-ios-trash:before { content: "\f4c5" };
.vs-icon-ios-trash-outline:before { content: "\f4c4" };
.vs-icon-ios-undo:before { content: "\f4c7" };
.vs-icon-ios-undo-outline:before { content: "\f4c6" };
.vs-icon-ios-unlocked:before { content: "\f4c9" };
.vs-icon-ios-unlocked-outline:before { content: "\f4c8" };
.vs-icon-ios-upload:before { content: "\f4cb" };
.vs-icon-ios-upload-outline:before { content: "\f4ca" };
.vs-icon-ios-videocam:before { content: "\f4cd" };
.vs-icon-ios-videocam-outline:before { content: "\f4cc" };
.vs-icon-ios-volume-high:before { content: "\f4ce" };
.vs-icon-ios-volume-low:before { content: "\f4cf" };
.vs-icon-ios-wineglass:before { content: "\f4d1" };
.vs-icon-ios-wineglass-outline:before { content: "\f4d0" };
.vs-icon-ios-world:before { content: "\f4d3" };
.vs-icon-ios-world-outline:before { content: "\f4d2" };
.vs-icon-ipad:before { content: "\f1f9" };
.vs-icon-iphone:before { content: "\f1fa" };
.vs-icon-ipod:before { content: "\f1fb" };
.vs-icon-jet:before { content: "\f295" };
.vs-icon-key:before { content: "\f296" };
.vs-icon-knife:before { content: "\f297" };
.vs-icon-laptop:before { content: "\f1fc" };
.vs-icon-leaf:before { content: "\f1fd" };
.vs-icon-levels:before { content: "\f298" };
.vs-icon-lightbulb:before { content: "\f299" };
.vs-icon-link:before { content: "\f1fe" };
.vs-icon-load-a:before { content: "\f29a" };
.vs-icon-load-b:before { content: "\f29b" };
.vs-icon-load-c:before { content: "\f29c" };
.vs-icon-load-d:before { content: "\f29d" };
.vs-icon-location:before { content: "\f1ff" };
.vs-icon-lock-combination:before { content: "\f4d4" };
.vs-icon-locked:before { content: "\f200" };
.vs-icon-log-in:before { content: "\f29e" };
.vs-icon-log-out:before { content: "\f29f" };
.vs-icon-loop:before { content: "\f201" };
.vs-icon-magnet:before { content: "\f2a0" };
.vs-icon-male:before { content: "\f2a1" };
.vs-icon-man:before { content: "\f202" };
.vs-icon-map:before { content: "\f203" };
.vs-icon-medkit:before { content: "\f2a2" };
.vs-icon-merge:before { content: "\f33f" };
.vs-icon-mic-a:before { content: "\f204" };
.vs-icon-mic-b:before { content: "\f205" };
.vs-icon-mic-c:before { content: "\f206" };
.vs-icon-minus:before { content: "\f209" };
.vs-icon-minus-circled:before { content: "\f207" };
.vs-icon-minus-round:before { content: "\f208" };
.vs-icon-model-s:before { content: "\f2c1" };
.vs-icon-monitor:before { content: "\f20a" };
.vs-icon-more:before { content: "\f20b" };
.vs-icon-mouse:before { content: "\f340" };
.vs-icon-music-note:before { content: "\f20c" };
.vs-icon-navicon:before { content: "\f20e" };
.vs-icon-navicon-round:before { content: "\f20d" };
.vs-icon-navigate:before { content: "\f2a3" };
.vs-icon-network:before { content: "\f341" };
.vs-icon-no-smoking:before { content: "\f2c2" };
.vs-icon-nuclear:before { content: "\f2a4" };
.vs-icon-outlet:before { content: "\f342" };
.vs-icon-paintbrush:before { content: "\f4d5" };
.vs-icon-paintbucket:before { content: "\f4d6" };
.vs-icon-paper-airplane:before { content: "\f2c3" };
.vs-icon-paperclip:before { content: "\f20f" };
.vs-icon-pause:before { content: "\f210" };
.vs-icon-person:before { content: "\f213" };
.vs-icon-person-add:before { content: "\f211" };
.vs-icon-person-stalker:before { content: "\f212" };
.vs-icon-pie-graph:before { content: "\f2a5" };
.vs-icon-pin:before { content: "\f2a6" };
.vs-icon-pinpoint:before { content: "\f2a7" };
.vs-icon-pizza:before { content: "\f2a8" };
.vs-icon-plane:before { content: "\f214" };
.vs-icon-planet:before { content: "\f343" };
.vs-icon-play:before { content: "\f215" };
.vs-icon-playstation:before { content: "\f30a" };
.vs-icon-plus:before { content: "\f218" };
.vs-icon-plus-circled:before { content: "\f216" };
.vs-icon-plus-round:before { content: "\f217" };
.vs-icon-podium:before { content: "\f344" };
.vs-icon-pound:before { content: "\f219" };
.vs-icon-power:before { content: "\f2a9" };
.vs-icon-pricetag:before { content: "\f2aa" };
.vs-icon-pricetags:before { content: "\f2ab" };
.vs-icon-printer:before { content: "\f21a" };
.vs-icon-pull-request:before { content: "\f345" };
.vs-icon-qr-scanner:before { content: "\f346" };
.vs-icon-quote:before { content: "\f347" };
.vs-icon-radio-waves:before { content: "\f2ac" };
.vs-icon-record:before { content: "\f21b" };
.vs-icon-refresh:before { content: "\f21c" };
.vs-icon-reply:before { content: "\f21e" };
.vs-icon-reply-all:before { content: "\f21d" };
.vs-icon-ribbon-a:before { content: "\f348" };
.vs-icon-ribbon-b:before { content: "\f349" };
.vs-icon-sad:before { content: "\f34a" };
.vs-icon-sad-outline:before { content: "\f4d7" };
.vs-icon-scissors:before { content: "\f34b" };
.vs-icon-search:before { content: "\f21f" };
.vs-icon-settings:before { content: "\f2ad" };
.vs-icon-share:before { content: "\f220" };
.vs-icon-shuffle:before { content: "\f221" };
.vs-icon-skip-backward:before { content: "\f222" };
.vs-icon-skip-forward:before { content: "\f223" };
.vs-icon-social-android:before { content: "\f225" };
.vs-icon-social-android-outline:before { content: "\f224" };
.vs-icon-social-angular:before { content: "\f4d9" };
.vs-icon-social-angular-outline:before { content: "\f4d8" };
.vs-icon-social-apple:before { content: "\f227" };
.vs-icon-social-apple-outline:before { content: "\f226" };
.vs-icon-social-bitcoin:before { content: "\f2af" };
.vs-icon-social-bitcoin-outline:before { content: "\f2ae" };
.vs-icon-social-buffer:before { content: "\f229" };
.vs-icon-social-buffer-outline:before { content: "\f228" };
.vs-icon-social-chrome:before { content: "\f4db" };
.vs-icon-social-chrome-outline:before { content: "\f4da" };
.vs-icon-social-codepen:before { content: "\f4dd" };
.vs-icon-social-codepen-outline:before { content: "\f4dc" };
.vs-icon-social-css3:before { content: "\f4df" };
.vs-icon-social-css3-outline:before { content: "\f4de" };
.vs-icon-social-designernews:before { content: "\f22b" };
.vs-icon-social-designernews-outline:before { content: "\f22a" };
.vs-icon-social-dribbble:before { content: "\f22d" };
.vs-icon-social-dribbble-outline:before { content: "\f22c" };
.vs-icon-social-dropbox:before { content: "\f22f" };
.vs-icon-social-dropbox-outline:before { content: "\f22e" };
.vs-icon-social-euro:before { content: "\f4e1" };
.vs-icon-social-euro-outline:before { content: "\f4e0" };
.vs-icon-social-facebook:before { content: "\f231" };
.vs-icon-social-facebook-outline:before { content: "\f230" };
.vs-icon-social-foursquare:before { content: "\f34d" };
.vs-icon-social-foursquare-outline:before { content: "\f34c" };
.vs-icon-social-freebsd-devil:before { content: "\f2c4" };
.vs-icon-social-github:before { content: "\f233" };
.vs-icon-social-github-outline:before { content: "\f232" };
.vs-icon-social-google:before { content: "\f34f" };
.vs-icon-social-google-outline:before { content: "\f34e" };
.vs-icon-social-googleplus:before { content: "\f235" };
.vs-icon-social-googleplus-outline:before { content: "\f234" };
.vs-icon-social-hackernews:before { content: "\f237" };
.vs-icon-social-hackernews-outline:before { content: "\f236" };
.vs-icon-social-html5:before { content: "\f4e3" };
.vs-icon-social-html5-outline:before { content: "\f4e2" };
.vs-icon-social-instagram:before { content: "\f351" };
.vs-icon-social-instagram-outline:before { content: "\f350" };
.vs-icon-social-javascript:before { content: "\f4e5" };
.vs-icon-social-javascript-outline:before { content: "\f4e4" };
.vs-icon-social-linkedin:before { content: "\f239" };
.vs-icon-social-linkedin-outline:before { content: "\f238" };
.vs-icon-social-markdown:before { content: "\f4e6" };
.vs-icon-social-nodejs:before { content: "\f4e7" };
.vs-icon-social-octocat:before { content: "\f4e8" };
.vs-icon-social-pinterest:before { content: "\f2b1" };
.vs-icon-social-pinterest-outline:before { content: "\f2b0" };
.vs-icon-social-python:before { content: "\f4e9" };
.vs-icon-social-reddit:before { content: "\f23b" };
.vs-icon-social-reddit-outline:before { content: "\f23a" };
.vs-icon-social-rss:before { content: "\f23d" };
.vs-icon-social-rss-outline:before { content: "\f23c" };
.vs-icon-social-sass:before { content: "\f4ea" };
.vs-icon-social-skype:before { content: "\f23f" };
.vs-icon-social-skype-outline:before { content: "\f23e" };
.vs-icon-social-snapchat:before { content: "\f4ec" };
.vs-icon-social-snapchat-outline:before { content: "\f4eb" };
.vs-icon-social-tumblr:before { content: "\f241" };
.vs-icon-social-tumblr-outline:before { content: "\f240" };
.vs-icon-social-tux:before { content: "\f2c5" };
.vs-icon-social-twitch:before { content: "\f4ee" };
.vs-icon-social-twitch-outline:before { content: "\f4ed" };
.vs-icon-social-twitter:before { content: "\f243" };
.vs-icon-social-twitter-outline:before { content: "\f242" };
.vs-icon-social-usd:before { content: "\f353" };
.vs-icon-social-usd-outline:before { content: "\f352" };
.vs-icon-social-vimeo:before { content: "\f245" };
.vs-icon-social-vimeo-outline:before { content: "\f244" };
.vs-icon-social-whatsapp:before { content: "\f4f0" };
.vs-icon-social-whatsapp-outline:before { content: "\f4ef" };
.vs-icon-social-windows:before { content: "\f247" };
.vs-icon-social-windows-outline:before { content: "\f246" };
.vs-icon-social-wordpress:before { content: "\f249" };
.vs-icon-social-wordpress-outline:before { content: "\f248" };
.vs-icon-social-yahoo:before { content: "\f24b" };
.vs-icon-social-yahoo-outline:before { content: "\f24a" };
.vs-icon-social-yen:before { content: "\f4f2" };
.vs-icon-social-yen-outline:before { content: "\f4f1" };
.vs-icon-social-youtube:before { content: "\f24d" };
.vs-icon-social-youtube-outline:before { content: "\f24c" };
.vs-icon-soup-can:before { content: "\f4f4" };
.vs-icon-soup-can-outline:before { content: "\f4f3" };
.vs-icon-speakerphone:before { content: "\f2b2" };
.vs-icon-speedometer:before { content: "\f2b3" };
.vs-icon-spoon:before { content: "\f2b4" };
.vs-icon-star:before { content: "\f24e" };
.vs-icon-stats-bars:before { content: "\f2b5" };
.vs-icon-steam:before { content: "\f30b" };
.vs-icon-stop:before { content: "\f24f" };
.vs-icon-thermometer:before { content: "\f2b6" };
.vs-icon-thumbsdown:before { content: "\f250" };
.vs-icon-thumbsup:before { content: "\f251" };
.vs-icon-toggle:before { content: "\f355" };
.vs-icon-toggle-filled:before { content: "\f354" };
.vs-icon-transgender:before { content: "\f4f5" };
.vs-icon-trash-a:before { content: "\f252" };
.vs-icon-trash-b:before { content: "\f253" };
.vs-icon-trophy:before { content: "\f356" };
.vs-icon-tshirt:before { content: "\f4f7" };
.vs-icon-tshirt-outline:before { content: "\f4f6" };
.vs-icon-umbrella:before { content: "\f2b7" };
.vs-icon-university:before { content: "\f357" };
.vs-icon-unlocked:before { content: "\f254" };
.vs-icon-upload:before { content: "\f255" };
.vs-icon-usb:before { content: "\f2b8" };
.vs-icon-videocamera:before { content: "\f256" };
.vs-icon-volume-high:before { content: "\f257" };
.vs-icon-volume-low:before { content: "\f258" };
.vs-icon-volume-medium:before { content: "\f259" };
.vs-icon-volume-mute:before { content: "\f25a" };
.vs-icon-wand:before { content: "\f358" };
.vs-icon-waterdrop:before { content: "\f25b" };
.vs-icon-wifi:before { content: "\f25c" };
.vs-icon-wineglass:before { content: "\f2b9" };
.vs-icon-woman:before { content: "\f25d" };
.vs-icon-wrench:before { content: "\f2ba" };
.vs-icon-xbox:before { content: "\f30c" };


