@import '../mixins/mixins.scss';
@import '../mixins/utils.scss';

@include block(message) {
  display: inline-block;
  text-align: left;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  padding: 3px 15px;
  letter-spacing: 1px;
  position: fixed;
  top: 24px;
  color: #909399;
  background-color: #f4f4f5;
  z-index: $--z-index-alert;
  margin-left: 50%;

  @include nest(align) {
    @include impl(center) {
      text-align: center;
    }
  }

  @include nest(left) {
    float: left;
    margin-right: 5px;
    label {
      display: inline-block;
      width: 100%;
    }
  }

  @include nest(right) {
    float: right;
    color: #909399;

    &:hover {
      color: #909399;
    }
  }

  @include nest(type) {
    @include impl(success) {
      color: #67c23a;
      background-color: #f0f9eb;
    }

    @include impl(info) {
      color: #909399;
      background-color: #f4f4f5;
    }

    @include impl(warning) {
      color: #e6a23c;
      background-color: #fdf6ec;
    }

    @include impl(error) {
      color: #f56c6c;
      background-color: #fef0f0;
    }
  }
}