@import '../mixins/mixins';

@include block(sider) {
  min-width: 240px;
  height: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @include impl(left) {
    float: left
  }

  @include impl(right) {
    float: right;
  }
}