@import '../mixins/mixins.scss';
@import '../mixins/utils.scss';

@include block(tag) {
  display: inline-block;
  font-size: 13px;
  padding: 0px 12px;
  border-radius: 3px;
  border: solid 1px black;
  color: black;
  font-weight: 400;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  @include nest(size) {
    @include impl(large) {
      font-size: 14px;
    }

    @include impl(small) {
      font-size: 12px;
    }

    @include impl(mini) {
      webkit-transform-origin-x: 0;
      -webkit-transform: scale(0.90);
      font-size:10.8px;
    }
  }

  @include nest(type) {
    @include impl(primary) {
      color: #FFF;
      background-color: $--color-primary;
      border: solid 1px $--color-primary;
    }

    @include impl(success) {
      color: #67c23a;
      background-color: #f0f9eb;
      border: solid 1px #67c23a;
    }

    @include impl(info) {
      color: #909399;
      background-color: #f4f4f5;
      border: solid 1px #909399;
    }

    @include impl(warning) {
      color: #e6a23c;
      background-color: #fdf6ec;
      border: solid 1px #e6a23c;
    }

    @include impl(error) {
      color: #f56c6c;
      background-color: #fef0f0;
      border: solid 1px #f56c6c;
    }
  }

  @include nest(no-border) {
    padding: 1px 11px;
    border: none;
  }
}